Anote seu Nome de Usuário e senha TEMPORÁRIA para acesso ao Sistema:
Usuário : {usuario}
Senha : {senha}

{mensagem}

Após entrar no Sistema usando as credenciais acima, você pode ser requisitado a trocar sua senha.