@page
@using System.Linq;
@using Site.Pages.Admin.GrupoEconomico;
@model AdicionarGrupoEconomicoModel
@{
  ViewData["Title"] = "Adicionar grupo econômico";
}

@section SubMenu {
  @await Html.PartialAsync("Partials/_MenuAdminPartial")
}

@section Scripts {
  @await Html.PartialAsync("Partials/_ValidationScriptsPartial")
  <script type="text/javascript">

    $(document).ready(function () {
      $("#Input_CEP")
        .focusout(function (e) {
          var cep = $("#Input_CEP").val();
          $.ajax({
            type: "GET",
            url: './Adicionar/?handler=FilterCep',
            data: {
              cep: cep
            },
            contentType: "application/json",
            dataType: "json"
          })
            .done(function (response) {
              if (response) {
                $("#Input_Logradouro").val(response.logradouro);
                $("#Input_UF option:selected").removeAttr("selected");
                $("#Input_UF option[value='" + response.uf.toUpperCase() + "']").attr('selected', 'selected');
                UpdateCidades(response.cidade);
              }
            })
            .catch(function (error) {

            });
        });

      $("#Input_UF").change(function () {
        UpdateCidades();
      });

    });

    function UpdateCidades(cidadenome) {
      var uf = jQuery("#Input_UF option:selected").val();
      var cep = $("#Input_CEP").val();
      $.ajax({
        type: "GET",
        url: './Adicionar/?handler=CidadeList',
        data: {
          uf: uf
        },
        contentType: "application/json",
        dataType: "json"
      })
        .done(function (response) {
          $("#Input_CodigoMunicipio")
            .find('option')
            .remove()
            .end();
          for (var i = 0; i < response.length; i++) {
            $("#Input_CodigoMunicipio").append("<option value=\"" + response[i].id + "\">" + response[i].nome + "</option>");
          }
          if (cidadenome) {
            $("#Input_CodigoMunicipio option:selected").removeAttr("selected");
            $("#Input_CodigoMunicipio").find('option').filter(
              function () { return $(this).html() == cidadenome; })
              .attr('selected', 'selected');
          }
        })
        .catch(function (error) {
          $("#Input_CodigoMunicipio")
            .find('option')
            .remove()
            .end();
        });
    };
  </script>
}


<form method="POST">
  <hr />
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.CNPJ"></label>
        <input class="form-control" asp-for="Input.CNPJ">
        <span asp-validation-for="Input.CNPJ" class="text-danger"></span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.InscricaoEstadual"></label>
        <input class="form-control" asp-for="Input.InscricaoEstadual">
        <span asp-validation-for="Input.InscricaoEstadual" class="text-danger"></span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.DataFundacao"></label>
        <input class="form-control" asp-for="Input.DataFundacao">
        <span asp-validation-for="Input.DataFundacao" class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.RamoAtividade"></label>
        <select class="custom-select" asp-for="Input.RamoAtividade" multiple="multiple">
          @foreach (dynamic item in (IEnumerable<ItemRamoAtividade>)ViewData["RamosDeAtividades"])
          {
            <option value="@item.id">@item.nome</option>
          }
        </select>
      </div>
    </div>
    <div class="col">

    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.Nome"></label>
        <input class="form-control" asp-for="Input.Nome">
        <span asp-validation-for="Input.Nome" class="text-danger"></span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.NomeFantasia"></label>
        <input class="form-control" asp-for="Input.NomeFantasia">
        <span asp-validation-for="Input.NomeFantasia" class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.DDI"></label>
        <input class="form-control" asp-for="Input.DDI">
        <span asp-validation-for="Input.DDI" class="text-danger"></span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.CodigoRegiao"></label>
        <input class="form-control" asp-for="Input.CodigoRegiao">
        <span asp-validation-for="Input.CodigoRegiao" class="text-danger"></span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.NumeroTelefone"></label>
        <input class="form-control" asp-for="Input.NumeroTelefone">
        <span asp-validation-for="Input.NumeroTelefone" class="text-danger"></span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.Ramal"></label>
        <input class="form-control" asp-for="Input.Ramal">
        <span asp-validation-for="Input.Ramal" class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <label asp-for="Input.CEP"></label>
        <input class="form-control" asp-for="Input.CEP">
        <span asp-validation-for="Input.CEP" class="text-danger"></span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.Logradouro"></label>
        <input class="form-control" asp-for="Input.Logradouro">
        <span asp-validation-for="Input.Logradouro" class="text-danger"></span>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label asp-for="Input.Numero"></label>
        <input class="form-control" asp-for="Input.Numero">
        <span asp-validation-for="Input.Numero" class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.Complemento"></label>
        <input class="form-control" asp-for="Input.Complemento">
        <span asp-validation-for="Input.Complemento" class="text-danger"></span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.UF"></label>
        <select class="custom-select" asp-for="Input.UF">
          <option value="ZO">(Selecione)</option>
          @foreach (dynamic item in (IEnumerable<ItemUFModel>)ViewData["Estados"])
          {
            <option value="@item.sigla">@item.nome</option>
          }
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label asp-for="Input.CodigoMunicipio"></label>
        <select class="custom-select" asp-for="Input.CodigoMunicipio"></select>
      </div>
    </div>
  </div>
  <hr />
  <button class="btn btn-primary btn-lg" type="submit">Cadastrar</button>
</form>

