@page
@model Site.Pages.Admin.GrupoEconomicoModel
@{
  ViewData["Title"] = "Grupo Econômico";
}

@section SubMenu {
  @await Html.PartialAsync("Partials/_MenuAdminPartial")
}

@section JumbotronBody {
  <p class="lead collapse" id="collapseJumbotron">
    Quando duas ou mais empresas estão sob a direção, o controle ou a administração de outra, compondo grupo industrial, comercial ou de qualquer outra atividade econômica, ainda que cada uma delas tenha personalidade jurídica própria.
  </p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" asp-page="/Admin/GrupoEconomico/Adicionar" >Adicionar Grupo Econômico</a>
  </p>
}

<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Nome Fantasia</th>
        <th scope="col">UF</th>
        <th scope="col">Operadores</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>


    </tbody>
  </table>
</form>