<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" asp-page="/Administrador/Usuarios">Usuarios</a>          
    <a class="nav-link" asp-page="/Administrador/GrupoEconomico">Grupos Econômicos</a>
    <a class="nav-link" href="#">Empresas</a>
    <a class="nav-link" href="#">Filiais</a>
  </nav>
</div>