<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Brand -->
  <a class="navbar-brand" asp-page="/Index">Logo</a>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" asp-page="/Index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-page="/About">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-page="/Contact">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Administrador
        </a>
        <div class="dropdown-menu" aria-labelledby="Preview">
          <a class="dropdown-item" asp-page="/Administrador/Usuarios">Usuarios</a>
          <a class="dropdown-item" asp-page="/Administrador/GrupoEconomico">Grupos Econômicos</a>
          <a class="dropdown-item" href="#">Empresas</a>
          <a class="dropdown-item" href="#">Filiais</a>
        </div>
      </li>
    </ul>
    @await Html.PartialAsync("Partials/_LoginPartial")
  </div>
</nav>